<!-- menubar.component.html -->
<div class="dashboard-app">
    <header class="dashboard-toolbar">
        <a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a>
    </header>
<div class="dashboard-nav">
    <header><img src="assets/images/Logo.png" alt="Logo" /></header>
    <nav class="dashboard-nav-list">
        <a href="#" class="dashboard-nav-item" ><i class="fas fa-home"></i> Inicio</a>
        <a href="#" class="dashboard-nav-item active" routerLink="/dashboard"><i class="fas fa-tachometer-alt"></i> 
            Modulo <br> Parametrización</a>
        <a href="#" class="dashboard-nav-item" routerLink="/dashboard/reportes"><i class="fas fa-file-upload"></i> Modulo <br> Reportes</a>
        <a href="#" class="dashboard-nav-item" routerLink="/dashboard/administrador"><i class="fas fa-file-upload"></i> Administrador <br>de Personal</a>
        <div class="nav-item-divider"></div>
        <a href="#" class="dashboard-nav-item" routerLink="/logout"><i class="fas fa-sign-out-alt"></i> Salir </a>
    </nav>
</div>
