<!-- menubar.component.html -->

<div class="dashboard-nav">
    <header><img src="assets/images/Logo.png" alt="Logo" /></header>
    <nav class="dashboard-nav-list">
        <a href="#" class="dashboard-nav-item"><i class="fas fa-home"></i> Inicio</a>
        <div class="dropdown">
            <a href="#" class="dashboard-nav-item dropdown-toggle" (click)="toggleSubmenu(); $event.preventDefault();">
                <i class="fas fa-cogs"></i> Módulos <br> Parametrizaciónes
                <i class="fa-solid fa-chevron-down caret" style="font-size: 15px;" [ngClass]="{'rotate': isSubmenuOpen}"></i>
            </a>
            <div *ngIf="isSubmenuOpen" class="submenu">
                <a href="/moduloParametrizacion" class="dashboard-nav-item"  (click)="keepSubmenuOpen();">
                    <i class="fas fa-sliders-h" style="font-size: 14.5px;"></i> Módulo Parametrización
                </a>
                <a href="/aprobarFecha" class="dashboard-nav-item" (click)="keepSubmenuOpen();">
                    <i class="fas fa-check-circle"style="font-size: 14.5px;"></i> Aprobar y asignar <br> inventarios
                </a>
            </div>
        </div>
        <a href="#" class="dashboard-nav-item" routerLink="/dashboard/reportes"><i class="fas fa-file-upload"></i> Módulo <br> Reportes</a>
        <a href="#" class="dashboard-nav-item" routerLink="/dashboard/administrador"><i class="fas fa-file-upload"></i> Administrador <br> de Personal</a>
        <a href="#" class="dashboard-nav-item" routerLink="/logout"><i class="fas fa-sign-out-alt"></i> Salir </a>
    </nav>
</div>

