


*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

 


nav {
    display: block;
}



h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
    
    text-decoration: none;
    background-color: transparent;
}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1, .h1 {
    font-size: 2.5rem;
    font-weight: normal;
}

h3{
    color: #214780;
}
.card {
    position: relative ;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    max-width: 100%;
    margin: 20px auto;
    border-radius: 12px;
    
}

.card-body {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-header {
    
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    text-align: center;
}

.dashboard {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
}

.dashboard-app {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    margin-top: 84px;
}

.dashboard-content {
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    padding: 25px;
}

.dashboard-nav {
    min-width: 238px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
    background-color: #214780;
}

.dashboard-compact .dashboard-nav {
    display: none;
}

.dashboard-nav header {
    min-height: 84px;
    padding: 8px 27px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.dashboard-nav header .menu-toggle {
    display: none;
    margin-right: auto;
}

.dashboard-nav a {
    color: #515151;
}

.dashboard-nav a:hover {
    text-decoration: none;
}

.dashboard-nav {
    background-color: #0092BC;
    border-top-right-radius: 2px;
   
}

.dashboard-nav a {
    color: #fff;
}



.brand-logo:focus, .brand-logo:active, .brand-logo:hover {
    color: #dbdbdb;
    text-decoration: none;
    
}
.dashboard-nav header {
    margin-top: 20px; 
}
.brand-logo i {
    color: #d2d1d1;
    font-size: 27px;
    margin-right: 10px;
    
}

.dashboard-nav-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.dashboard-nav-item {
    min-height: 56px;
    padding: 8px 20px 8px 70px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    letter-spacing: 0.02em;
    transition: ease-out 0.5s;
    
}

.dashboard-nav-item i {
    width: 36px;
    font-size: 19px;
    margin-left: -40px;
}

.dashboard-nav-item:hover {
    background: rgba(255, 255, 255, 0.04);
}

.active {
    background: rgba(0, 0, 0, 0.1);
}

.dashboard-nav-dropdown {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.dashboard-nav-dropdown.show {
    background: rgba(255, 255, 255, 0.04);
}

.dashboard-nav-dropdown.show > .dashboard-nav-dropdown-toggle {
    font-weight: bold;
}

.dashboard-nav-dropdown.show > .dashboard-nav-dropdown-toggle:after {
    -webkit-transform: none;
    -o-transform: none;
    transform: none;
}

.dashboard-nav-dropdown.show > .dashboard-nav-dropdown-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.dashboard-nav-dropdown-toggle:after {
    content: "";
    margin-left: auto;
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgba(81, 81, 81, 0.8);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.dashboard-nav .dashboard-nav-dropdown-toggle:after {
    border-top-color: rgba(255, 255, 255, 0.72);
}

.dashboard-nav-dropdown-menu {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.dashboard-nav-dropdown-item {
    min-height: 40px;
    padding: 8px 20px 8px 70px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    transition: ease-out 0.5s;
}

.dashboard-nav-dropdown-item:hover {
    background: rgba(255, 255, 255, 0.04);
}

.menu-toggle {
    position: relative;
    width: 42px;
    height: 42px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: white;
}

.menu-toggle:hover, .menu-toggle:active, .menu-toggle:focus {
    text-decoration: none;
    color: #1e293b;
}

.menu-toggle i {
    font-size: 23px;
}

.dashboard-toolbar {
    min-height: 80px;
    background-color: #0092BC;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 8px 27px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    border-top-right-radius: 5px;
    
}

.nav-item-divider {
    height: 1px;
    margin: 1rem 0;
    overflow: hidden;
    background-color: #0092BC;
}

@media (min-width: 992px) {
    .dashboard-app {
        margin-left: 238px;
    }

    .dashboard-compact .dashboard-app {
        margin-left: 0;
    }
}


@media (max-width: 768px) {
    .dashboard-content {
        padding: 15px 0px;
    }
}

@media (max-width: 992px) {
    .dashboard-nav {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1070;
    }

    .dashboard-nav.mobile-show {
        display: block;
    }
}

@media (max-width: 992px) {
    .dashboard-nav header .menu-toggle {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

@media (min-width: 992px) {
    .dashboard-toolbar {
        left: 238px;
    }

    .dashboard-compact .dashboard-toolbar {
        left: 0;
    }
}


.containerdos {
    position: relative;
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: flex-start;
  }
  
  .tabs {
    display: flex;
    background-color: #fff;
    box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
    padding: 0.75rem;
    border-radius: 99px;
    margin-bottom: 20px;  
  }
  
  input[type="radio"] {
    display: none;
  }
  
  .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 54px;
    width: 200px;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 99px;
    cursor: pointer;
    transition: color 0.15s ease-in;
    z-index: 1; 
  }
  
  .notification {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    margin-left: 0.75rem;
    border-radius: 50%;
    background-color: #ff5722;
  }
  
  input[type="radio"]:checked + label {
    color: white;
  }
  
  input[id="radio-1"]:checked ~ .glider {
    transform: translateX(0);
  }
  
  input[id="radio-2"]:checked ~ .glider {
    transform: translateX(100%);
  }
  
  input[id="radio-3"]:checked ~ .glider {
    transform: translateX(200%);
  }
  input[id="radio-4"]:checked ~ .glider {
    transform: translateX(300%);
  }
  
  .glider {
    position: absolute;
    display: flex;
    height: 54px;
    width: 200px;
    background-color: #ff6523b3;
    z-index: 0;
    border-radius: 19px;
    transition: 0.25s ease-out;
  }
  
  
  .tab-content {
    display: block; 
    width: 100%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
  }
  
  .tab-content h3 {
    margin-top: 0;
    font-size: 1.5rem;
    color: var(--primary-color);
  }
  
  .tab-content p {
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
  }
  

  @media (max-width: 700px) {
    .tabs {
      transform: scale(0.8);
    }
  }

  /*Style tabla*/
.table {
    margin-top: 20px;
    border-radius: 16px;
    border: 1px solid #dddddd6f;
    width: 100%;
    overflow-x: auto; 
    display: block; 
}

.table th, .table td {
    padding: 12px;
    text-align: center;
    border-color: #f4f4f4;
}

.table th {
    background-color: #008ec1;
    color: white;
}

.table td input[type="checkbox"] {
    margin: 0 auto;
}

.actions {
    margin-top: 20px;
}

.actions label {
    font-size: 14px;
}

.actions .btn {
    margin-left: 10px;
}

.btn {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    border-right: 1px solid #e0e0e0;
    border-color: #dbdbdb;
}

table td:last-child, table th:last-child {
    border-right: none;
}

table tr {
    border-bottom: 1px solid #e0e0e0;
}

table tr:hover {
    background-color: #f5f5f5;
}

.styled-select {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    font-size: 16px;
    color: #333;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    position: relative;
}

.styled-select::after {
    content: '';
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij48cGF0aCBmaWxsPSIjY2NjIiBkPSJNOCwxM2ExLjEsMS4xLDAsMCwxLS43Mi0uMzRsLTMtM2EuNy43LDAsMCwxLC4wNi0xLDEuMSwxLjEsMCwwLDEsLjY1LS4yM2gsMWEuNy43LDAsMCwxLC42NSwuMjMsMS4xLDEuMSwwLDAsMSwuMDYsMWwtMywzQTEuMSwxLjEsMCwwLDEsOCwxM1oiLz48L3N2Zz4=');
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: none;
}

.styled-select:hover {
    background-color: #f1f1f1;
}

.styled-select:focus {
    border-color: #14c1ea;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.no-bullets {
    list-style: none;
    padding: 0;
    margin: 0;
}

.no-bullets li {
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
}

/* Reglas responsive */
@media (max-width: 768px) {
    .table th, .table td {
        font-size: 12px;
        padding: 8px;
    }
}

@media (max-width: 480px) {
    .table th, .table td {
        font-size: 10px;
        padding: 6px;
    }
}


/*Styles Formulario Caracteristicas*/
.cardos {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 100%; 
    height: 60%;  
    background-color: #fff;
    border-radius: 12px;
    margin: 20px 0;
    width: 80%;
    max-width: 900px;
}

.form-group {
    margin-bottom: 1.5rem;
}



input[type="text"], input[type="file"], input[type="date"],select ,textarea {
    width: 100%;
    padding: 0.75rem;
    margin-top: 0.5rem;
    border-radius: 10px;
    border: 1px solid #ddddddc9;
    font-family: "DIN Next LT Pro Regular";
}


#caracteristicas{
    width: 350%;
}
.actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
}
input[type="text"]:focus, textarea:focus, input[type="date"]:focus, select:focus{
    outline: none;   
    border-color: #007bff;
    box-shadow: none;  
    
}

input[type="text"]:hover{
    border-color: #0056b3;
}

textarea {
    resize: none;
}

button {
    margin-right: 10px;
    padding: 0.75rem 1.5rem;
    border-radius: 10px;
    font-weight: 500;
}

button:hover {
    opacity: 0.9;
}

button i {
    margin-right: 5px;
}

/* Botones personalizados */
button.btn {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: opacity 0.3s ease; 
}

button.btn-primary {
    background-color: #25D366;
    color: white;
}

button.btn-success {
    background-color: #25D366;
    color: white;
}

button.btn-secondary {
    background-color: #214780;
    color: white;
}


button.btn:hover {
    opacity: 0.9;  
}


button.btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
    color: white;
}

button.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: white;
}

button.btn-primary {
    background-color: #214780;
    color: white;
    border-color: #214780;
}


.button-group {
    display: flex;
    justify-content: space-between;
}

.fas {
    font-size: 18px;
}

.card-body form .btn {
    width: 100%;
    margin-top: 20px;
}


.form-group.d-flex {
    display: flex;
    align-items: center;
}

.form-group.d-flex .flex-grow-1 {
    margin-right: 60%; 
}

button.btn-primary {
    width: 20px; 
    margin-right: 90;
}


.file-upload-wrapper {
    display: flex;
    align-items: center;
}


.file-input {
    display: none;
}


.file-button {
    background-color: #214780;
    color: white;
    padding: 10px 15px;
    border: 1px solid #214780;
    border-radius: 6px;
    font-size: 16px;
    align-items: center;
    margin-left: 10px;
}

.file-button i {
    margin-right: 8px;
}

.file-button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
    color: white;
}

.file-input:focus + .file-button,
.file-input:active + .file-button {
    background-color: #0057b356;
    border-color: #0056b3;
    color: white;
}


.file-input:valid + .file-button::after {
    content: "Archivo Seleccionado";
    font-size: 14px;
    color: white;
    margin-left: 10px;
}

/*Styles formulario Hoja de vida*/
#formHoja{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.form-groupdos{
    display: flex;
    flex-direction: column;
    width: 48%; 
}
.actionsdos{
    display: flex;
    
    width: 48%; 
}