<app-menubar></app-menubar>
<div class="dashboard-app">
    <header class="dashboard-toolbar">
        <a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.3/css/bootstrap.min.css">
    </header>
    <div class="dashboard-content">
        <div class="container shadow-div mx-auto">
            <h4 class="card-title text-center">Contacos Activos fijos</h4>
            <table class="table table-bordered table-hover mx-auto custom-table">
                <thead class="Titulos">
                    <tr>
                        <th class="col-md-4">Gerencia o Direccion</th>
                        <th class="col-md-3">Vicepresidencia</th>
                        <th class="col-md-4">Nombre de jefe inmediato</th>
                        <th class="col-md-4">Administrador de inventario</th>
                        <th class="col-md-2">Numero telefonico</th>
                        <th class="col-md-4">Correo electronico</th>
                        <th class="col-md-3">Backup</th>
                        <th class="col-md-4">Correo electronico</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Gerencia Comercial</td>
                        <td>Vicepresidencia Administrativa</td>
                        <td>Juan Pérez</td>
                        <td>María González</td>
                        <td>3001234567</td>
                        <td>juan.perezempresa.com</td>
                        <td>Carlos Martínez</td>
                        <td>carlos.martinezempresa.com</td>
                    </tr>    
                    <tr>
                        <td>Gerencia Comercial</td>
                        <td>Vicepresidencia Administrativa</td>
                        <td>Juan Pérez</td>
                        <td>María González</td>
                        <td>3001234567</td>
                        <td>juan.perezempresa.com</td>
                        <td>Carlos Martínez</td>
                        <td>carlos.martinezempresa.com</td>
                    </tr>
                    <tr>
                        <td>Gerencia Comercial</td>
                        <td>Vicepresidencia Administrativa</td>
                        <td>Juan Pérez</td>
                        <td>María González</td>
                        <td>3001234567</td>
                        <td>juan.perezempresa.com</td>
                        <td>Carlos Martínez</td>
                        <td>carlos.martinezempresa.com</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.3/js/bootstrap.min.js"></script>
